@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poor+Story&family=Sunflower:wght@300;500;700&family=Yeon+Sung&display=swap');

/* 
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Sunflower', sans-serif;
font-family: 'Yeon Sung', cursive; */
@media (min-width: 320px) and (max-width: 480px) {

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Yeon Sung', cursive;
}

a{
    text-decoration: none;
}

body{
    /* background: linear-gradient(to top, rgb(254, 255, 195) 90%, rgb(241, 216, 255) 30%); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    height : 100%;
    /* position:relative */
    
}

#map_div{
    position:fixed;
    z-index: -999;
    top:0px;
    left:0px;
    overflow:hidden;
}
.title{
    /* background: linear-gradient( to top, rgb(247, 233, 255) 70%, rgb(254, 255, 225)); */
    position:absolute;
    bottom:10px;
    left:10px;
    position : absolute;
    font-family: 'Yeon Sung', cursive;
    font-size: 22px;
    z-index: 1;
    color:rgb(23, 23, 18);
    background-color: rgba(241, 255, 247, 0.857);
    border-radius: 12px;
}

#saek{
    color : rgb(179, 84, 84)
}
#dong{
    color: rgb(130, 150, 89);
}
#san{
    color:rgb(99, 99, 152)
}

.circle{
    width : 50px;
    height: 48px;
  padding: 4px 12px;  
  font-size: 36px;
  position:absolute;
  border: 0;
  padding: 0px;
  text-align: center;
  color: white;
  border-radius: 100%;
}

#review_plus{
  bottom : 115px;
  right : 10px;
  z-index: 999;
  padding-top:0.8px;
}

#marker{
    bottom : 50px;
    right : 10px;
    z-index: 999;
    font-size: 30px;
    padding-top:0.8px;
}

#sign_out a{
    font-family:sans-serif;
    font-size:10pt;
    padding: 5px;
    color: black;
    text-align: center;
}

.btn.mini
{
    border: 0;
    padding: 0px;
    text-align: center;
}

.markerimg{
    border-radius: 50px;
}

/* Colors for .btn and .btn-two */
.btn.blue     {background-color: #7fb1bf;}
.btn.green2 {background-color: #d7f75a;}
.btn.red      {background-color: #ffb2b2;}
.btn.purple {background-color: #c9a6d0;}
.btn.cyan    {background-color: #a6ecfb;}
.btn.yellow {background-color: #f0d264;}
.btn.btn.white {background-color: #ffffff;}
.btn.green {background-color: #f8ffdd;}

/* color classes for .btn */
.btn.blue {box-shadow: 0px 4px #74a3b0;}

.btn.green {box-shadow: 0px 4px 0px #d2da9f;}

.btn.green2 {box-shadow: 0px 4px 0px #cfdc80;}


.btn.red {box-shadow:0px 4px 0px #E04342;}

.btn.purple {box-shadow:0px 4px 0px #AD83A8;}

.btn.cyan {box-shadow:0px 4px 0px #73B9C9;}

.btn.yellow {box-shadow:0px 4px 0px #D1B757;}

.btn.white {box-shadow:0px 4px 0px #8e8fbb;}

#selectedcategory{
background: rgb(247, 221, 255);
height : 30px;
font-size : 15px;
}

.modal-header{
    background-color: rgb(255, 255, 227);
}

.modal-title{
    font-size: 22px;
    text-shadow : 1px 1px rgb(52, 51, 16);
}


.modal-body{
    height : 95%;
    display: flex;
}


.formInputs{
    display: flex;
    flex-direction: column;
    
}

#review *{
    margin-bottom:4px;
    padding : 1px;
}

#reviewLocation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.little-title{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    text-shadow : 1px 1px rgb(74, 53, 78);
}

#reviewPosition{
    border-radius: 10px;
    padding:5px;
    font-size: 11px;
    text-shadow: 0 0;
    text-align: center;
}

.little-title input{
    margin-top: 4px;
    border : 0;
    background-color: rgba(225, 230, 215, 0.51);
    border-radius: 10px;
}

.commentInput .little-title{
    margin-top: 2px;
}

textarea{
    margin-top:6px;
    border : 0;
    background-color: rgba(225, 230, 215, 0.51);
    border-radius: 10px;
    width : 310px;
}

.modal-footer{
    margin-bottom : 20px;
}

#reset, #posting_submit{
    padding : 3px;
}

#multiple-container *{
    width: 136px;
}

/* ------newLocation---------- */

#newWindowForLocation{
    background-color: rgb(253, 211, 74);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : 999;
    padding : 5px;
    border-radius : 10px;
    top:30px;
    left : 20px;
}

#complete{
    background-color: rgb(178, 134, 255);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : 999;
    padding : 5px;
    color:white;
    border : 0;
    border-radius : 10px;
    bottom: 40px;
    right : 20px;
    font-size : 20px;
}



#result{
    width:300px;
    text-align: center;
    background-color: rgb(253, 181, 74);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : -1;
    padding : 5px;
    border-radius : 10px;
    top:160px;
    left : 10px;
}



*
{
    user-select: none;
}

*:focus
{
    outline: none;
}

#categorybox{
    position: relative;
}


.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.app-cover{
    position: absolute;
    top: -20px;
    right: 150px;
    left: 0px;
    width: 53%;
    height: 22px;
    margin: 100px auto 0 auto;
    font-size: 15px;
    
}

#select-button{
    position: relative;
    height: 30px;
    padding: 12px 14px;
    background-color: #fff;
    border : 0;
    border : 2px solid rgb(243, 126, 126);
    border-radius : 10px;
    cursor: pointer;
}


#category_select{
    position: absolute;
    top: 0px;
    right: -60px;
    background-color: rgb(255, 174, 174);
    color:black;
    width : 50px;
}


#want_select{
    position: absolute;
    top: 0px;
    right: -150px;
}

#course_select{
    position: absolute;
    top: 40px;
    right: -60px;
    width : 50px;
}

.mapbtn{
    width : 60px;
    font-size: 14px;
    width : 80px;
    padding:2px 0px 2px 0px;
}

.zero
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#result{
    visibility:hidden;
}
#selected-value
{
    position : relative;
    font-size: 16px;
    line-height: 0.4;
    height: 30px;
}

.option i
{
    width: 10px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding-right: 25px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
    
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    z-index : 999;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}


.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}



.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -35px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -37px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -77px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #658ddc;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -117px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #70d373;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -157px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f88e38;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -196px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -237px;
}

.option .fa-codepen
{
    color: #000;
}

.option .fa-dribbble
{
    color: #ea4c89;
}

.option .fa-behance
{
    color: #0057ff;
}

.option .fa-hackerrank
{
    color: #32c766;
}

.option .fa-stack-overflow
{
    color: #f48024;
}

.option .fa-free-code-camp
{
    color: #006400;
}





#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    transition: 0.3s ease all;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 150px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.app-cover #trailbox{
    position: absolute;
    top: -60px;
    right: 150px;
    left: 0px;
    width: 100%;
    height: 22px;
    margin: 100px auto 0 auto;
    font-size: 15px;
    
}

#trailbox{
    position : relative;
}

#select-button-path{
    position: relative;
    height: 30px;
    padding: 12px 14px;
    background-color: #fff;
    border : 0;
    border : 2px solid rgb(110, 186, 233);
    border-radius : 10px;
}

.one
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:10%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value-path
{
    position : relative;
    font-size: 16px;
    line-height: 0.4;
    height: 30px;
}


#chevrons-path
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding-right: 25px;
}

#chevrons-path i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button-path:checked + #select-button-path #chevrons-path i
{
    color: #2d3667;
}

#options-path
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button-path:checked ~ #options-path
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}



#options-view-button-path:checked ~ #options-path .option i
{
    display: block;
    padding: 12px 0;
}


#options-view-button-path:checked ~ #options-path .label
{
    display: block;
    padding: 12px 14px;    
}


#options-view-button-path:not(:checked) ~ #options-path .option input[type="radio"]:checked ~ .opt-val
{
    top: -35px;
}


#option-bg-path
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button-path:checked ~ #options-path #option-bg-path
{
    display: block;
}

.option:nth-child(1):hover ~ #option-bg-path
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg-path
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg-path
{
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg-path
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg-path
{
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg-path
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}


.show{
    background-color: rgba(255, 255, 255, 0);
 /* background: linear-gradient(to top, rgba(192, 194, 145, 0.551) 40%, rgba(104, 122, 55, 0.571)); */
}

.loginWindow{
    position:absolute;
    top:420px;
}

.loginbn{
    background-color: #ccb9e0;
    color : white;
    border-radius: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.g-signin2{
    margin-bottom:10px;

}
.signout{
    margin-bottom:5px;
}

.loginbtn{
    margin-top: 10px;
}


.weather {
    text-align: center;
    position:relative;
    top:23px;
    margin: 10px;
    width: 300px;
    height: 30px;
    background:rgba(255, 251, 200, 0.864);
    border-radius: 10px;
    font-family: 'Yeon Sung', cursive;
}
.weather:after {
 border-top:0px solid transparent;
 border-left: 10px solid transparent;
 border-right: 10px solid transparent;
 border-bottom: 10px solid rgba(255, 250, 183, 0.782);
 content:"";
 position:absolute;
 top:-10px;
 left:200px;
}

/* 댓글창 */
.mb-3{
    margin : 5px;
}
.form-label{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Yeon Sung', cursive;
}
.form-control{
    font-family: 'Yeon Sung', cursive;
}
.done{
    margin: 5px;
    width : 100px;
    height : 40px;
    font-family: 'Yeon Sung', cursive;
}

.titlesss{
     margin: 5px;
    font-size : 30px;
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
}
.writer{
     margin: 5px;
    font-size : 20px;
    font-family: 'Yeon Sung', cursive;
}
.posting_photo{
   margin: 5px;
}

.btn{
    color :rgb(52, 51, 16);
    font-family: 'Yeon Sung', cursive;
}
span{
     font-family: 'Yeon Sung', cursive;
}
.information .ptime, .pcategory{
    margin: 5px;
    display: inline-block;
    font-size : 17px;
    font-family: 'Yeon Sung', cursive;
}
.pcategory{
    color :rgb(178, 134, 255)
}
.pcomment{
    margin: 5px;
    font-family: 'Yeon Sung', cursive;
    font-size: 22px;
    margin: 5px;
}
.showcomment{
    margin: 5px;
    font-family: 'Yeon Sung', cursive;
}
#getpathfromcurr{
    opacity: 50%;
}
#getpathfromnew{
    opacity: 50%;
}

.modal-title{
    font-family: 'Yeon Sung', cursive;
    font-size: 22px;
    text-shadow : 1px 1px rgb(52, 51, 16);
}
