@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');

body .titleofproject h1{ /*main page title 색다른 동네 산책*/
    position : absolute;
    font-family: 'Gugi', cursive;
    font-size : 55px;
    top : 25px;
    left: 50%;
    margin-left: -400px;
}

.g-signin2{ /*main page top right signin button*/
    position : absolute;
    left: 70%;
    margin-left : -40px;
    top : 25px;
}

body .signingout{ /*main page top right signout button*/
    position : absolute;
    left: 85%;
    margin-left : -40px;
    top : 25px;
    font-family: 'Gugi', cursive;
    background-color: rgb(253, 253, 253);
    border-radius : 12px;
    border-top: rgb(56, 49, 9) solid 2px;
    border-left: rgb(56, 49, 9) solid 2px;
    border-bottom: rgb(56, 49, 9) solid 2px;
    border-right: rgb(56, 49, 9) solid 2px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ft_area{ /*main page filter 적용 부분*/
    font-family: 'Gugi', cursive;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    position : absolute;
    top : 160px;
    left : 50%;
    margin-left : -300px;
}

body nav{ /*메인 페이지 상단 바*/
    font-family: 'Gugi', cursive;
    font-family: 'Jua', sans-serif;
    position : absolute;
    top : 90px;
    width: 950px;
    background-color: rgb(250, 255, 183);
    border-top: rgb(56, 49, 9) solid 2px;
    border-bottom: rgb(56, 49, 9) solid 2px;
    padding: 3px 0 3px 0;
    display: flex;
    justify-content: space-around;
    left : 50%;
    margin-left : -470px;
}
body nav a{
    font-family: 'Gugi', cursive;
    font-family: 'Jua', sans-serif;
    text-decoration-line: none;
    color:rgb(56, 49, 9);
    font-size: 20px;
    font-weight:600;
    align-items: center;
}

body{ /*body element 전체적으로*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 177, 93);
}

.map_wrap div{
    position : absolute;
    top : 250px;
}

.btn{
    border : none;
    border-radius: 12px;
    background-color:rgb(179, 219, 84);
    box-shadow: 3px 3px 3px rgb(122, 114, 63);
    width:160px;
    text-align: center;

    position:relative;
    right : -400px;
    top:-40px;
}

.goto_btn{
    text-decoration-line: none;
    color:rgb(65, 65, 29);
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 227, 217);
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    width :1020px;

}


.menu{
    
    color:rgb(65, 65, 29);
    font-size: 33px;
    font-weight: lighter;
    margin : 30px 0px 10px 0px;

}
/*.form{

}*/

.btns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.btns input {
    text-decoration-line: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border : none;
    border-radius: 9px;
    box-shadow: 3px 3px 3px rgb(122, 114, 63);
    width:100px;
    height:50px;
    margin-top:20px;
    color:rgb(7, 41, 0);
}
#submit_btn{
   
    background-color: rgb(255, 198, 12);
}
#reset_btn{
    background-color: rgb(197, 14, 100);
}

input{
    font-size: 15px;
    border : inset 3px white;
    border-radius: 6px;
    font-family: 'Do Hyeon', sans-serif;   
    font-weight: lighter;
}

.private_info{
    font-size: 15px;
    color:rgb(122, 122, 122)
}


*/
/*index.html */


.flex-container{
    color:white;
    display : flex;
    width : 1020px;
    flex-direction: column;
    align-items : center;
    justify-items: center;
    background-color: rgb(182, 205, 50);

    
}
.flex-container > *{
    margin-bottom: 10px;
}
header{
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
    width:1020px;
    text-align: left;
    position: relative;
    animation: sliding 2s;
}

@keyframes sliding {
    0%{ right:-1040px; }
    100%{ right:0px; }
}






.content{
    display : flex;
    flex-direction: row;
    justify-content: space-around;

    width:1000px;
    color:black;
    padding:10px;   
    font-family: 'Quicksand', sans-serif;
    font-weight:600;
}

.product{
    width:350px;
    border:solid black 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 252, 222);
}

.product *{
    margin:3px;
}
.product_name, .product_price{
    font-size: 15px;
    background-color: rgb(255, 238, 0);
    padding:10px;
}

.product_img{
    transition: width 2s;

}
.product_img:hover{
    width:350px;
}

.about{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    width: 950px;
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color:gray;
    column-width: 300px;
} */

#plus{
    border : 0;
    outline : 0;
    background: none;
}