@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poor+Story&family=Sunflower:wght@300;500;700&family=Yeon+Sung&display=swap');

/* 
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Sunflower', sans-serif;
font-family: 'Yeon Sung', cursive; */
@media (min-width: 320px) and (max-width: 480px) {

}

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}


body{
    /* background: linear-gradient(to top, rgb(254, 255, 195) 90%, rgb(241, 216, 255) 30%); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    height : 100%;
    
}

#map_div{
    position:fixed;
    z-index: -999;
    top:0px;
    left:0px;
    overflow:hidden;
}
.title{
    /* background: linear-gradient( to top, rgb(247, 233, 255) 70%, rgb(254, 255, 225)); */
    position:absolute;
    bottom:0px;
    left:10px;
    position : absolute;
    font-family: 'Yeon Sung', cursive;
    font-size: 22px;
    z-index: 1;
}

#saek{
    color : rgb(125, 58, 58)
}
#dong{
    color: rgb(109, 130, 68);
}
#san{
    color:rgb(69, 69, 130)
}

.circle{
    width : 50px;
    height: 48px;
  padding: 4px 12px;  
  font-size: 36px;
  position:absolute;
  border: 0;
  padding: 0px;
  text-align: center;
  color: white;
  border-radius: 100%;
}

#review_plus{
  bottom : 115px;
  right : 10px;
  z-index: 999;
}
#review_plus.btn:active {
	bottom: 112px;	
}
#review_plus span{
    position:relative;
    top:-5px;
}

#markerid{
    bottom : 50px;
    right : 10px;
    z-index: 999;
    font-size: 30px;
    padding-bottom:10px;
}

#markerid.btn:active {
	bottom: 47px;	
}
#sign_out{
    position:absolute;
    top:35px;
    left : 10px;
}

#sign_out a{
    font-family:sans-serif;
    font-size:10pt;
    padding: 5px;
    color: black;
    text-align: center;
}

.g-signin2{
    position:absolute;
    top:5px;
    left :10px;
}
.btn.mini
{
    border: 0;
    padding: 0px;
    text-align: center;
}



/* Colors for .btn and .btn-two */
.btn.blue, .btn-two.blue     {background-color: #7fb1bf;}
.btn.green, .btn-two.green   {background-color: #f8ffdd;}
.btn.red, .btn-two.red       {background-color: #fa5a5a;}
.btn.purple, .btn-two.purple {background-color: #cb99c5;}
.btn.cyan, .btn-two.cyan     {background-color: #7fccde;}
.btn.yellow, .btn-two.yellow {background-color: #f0d264;}
.btn.btn.white, .btn-two.yellow {background-color: #ffffff;}


/* color classes for .btn */
.btn.blue {box-shadow: 0px 4px #74a3b0;}
.btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}

.btn.green {box-shadow: 0px 4px 0px #cdd59b;}
.btn.green:active {box-shadow: 0 0 #87a86f; background-color: #87a86f;}

.btn.red {box-shadow:0px 4px 0px #E04342;}
.btn.red:active {box-shadow: 0 0 #ff4c4b; background-color: #ff4c4b;}

.btn.purple {box-shadow:0px 4px 0px #AD83A8;}
.btn.purple:active {box-shadow: 0 0 #BA8CB5; background-color: #BA8CB5;}

.btn.cyan {box-shadow:0px 4px 0px #73B9C9;}
.btn.cyan:active {box-shadow: 0 0 #73B9C9; background-color: #70B4C4;}

.btn.yellow {box-shadow:0px 4px 0px #D1B757;}
.btn.yellow:active {box-shadow: 0 0 #ff4c4b; background-color: #D6BB59;}

.btn.white {box-shadow:0px 4px 0px #8e8fbb;}
.btn.white:active {box-shadow: 0 0 #f87373; background-color: #98958c;}

/* #selectedcategory{
background: rgb(247, 221, 255);
height : 30px;
font-size : 15px;
} */
/* option{
    height: 30px;
    font-size : 15px;
} */

.modal-header{
    background-color: rgb(255, 255, 227);
}

.modal-title{
    font-size: 22px;
    text-shadow : 1px 1px rgb(52, 51, 16);
}


.modal-body{
    height : 95%;
    display: flex;
}


.formInputs{
    display: flex;
    flex-direction: column;
    
}

#review *{
    margin-bottom:4px;
    padding : 1px;
}

#reviewLocation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.little-title{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    text-shadow : 1px 1px rgb(74, 53, 78);
}

#reviewPosition{
    border-radius: 10px;
    padding:5px;
    font-size: 11px;
    text-shadow: 0 0;
    text-align: center;
}

.little-title input{
    margin-top: 4px;
    border : 0;
    background-color: rgba(225, 230, 215, 0.51);
    border-radius: 10px;
}

.commentInput .little-title{
    margin-top: 2px;
}

textarea{
    margin-top:6px;
    border : 0;
    background-color: rgba(225, 230, 215, 0.51);
    border-radius: 10px;
    width : 310px;
}

.modal-footer{
    margin-bottom : 20px;
}

#reset, #posting_submit{
    padding : 3px;
}

#multiple-container *{
    width: 136px;
}




/* ------newLocation---------- */

#newWindowForLocation{
    background-color: rgb(253, 211, 74);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : 999;
    padding : 5px;
    border-radius : 10px;
    top:30px;
    left : 20px;
}

#complete{
    background-color: rgb(178, 134, 255);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : 999;
    padding : 5px;
    color:white;
    border : 0;
<<<<<<< HEAD
    border-radius : 10px;
    bottom: 40px;
    right : 20px;
    font-size : 20px;
}



#result{
    background-color: rgb(229, 253, 74);
    color : rgb(96, 86, 86);
    position : absolute;
    z-index : 999;
    padding : 5px;
    border-radius : 10px;
    top:60px;
    left : 20px;
=======
    outline : 0;
    background: none;
}

.markerimg{
    border-radius: 70%;
    overflow: hidden;
>>>>>>> 88054313f47cc10307fc20feb4a137b0f79c501c
}